doctype html
html
  include includes/head.pug
  body
    .container
        .row.justify-content-md-center.mt-4
            .col-6
                if flash && flash.type === "error"
                    .alert.alert-danger(role='alert')= flash.message
                h1 Forgot Password
                p Provide your email address.
                form.mb-4(method='post')
                    .mb-3
                        label.form-label(for='email') Email
                        input#email.form-control(type='text', name='email')
                    button.btn.btn-primary(type='submit') Submit